 <div class="row justify-content-md-center pt-4 pb-4", style="background-color: #7d7d7d">
  <% @tags.each do |tag| %>
 <span>
  <%= link_to "#{tag.name} ( #{tag.shops.size} )", tag_path(tag), class: "btn btn-info mr-2" %>
 </span>
<% end %>
<%= link_to 'もっと見る', tags_path, class: "text-light ml-2 mt-2" %>
 </div>
<div class="container">
  <div class="row pt-4">
   <% @search_shops.each do |shop| %>
    <div class="col-lg-4 mt-4 mb-4">
     <%= attachment_image_tag shop, :image, format: "jpeg", size: "300x200", class: "rounded" %><br>
     <%= link_to shop.name, shop_path(shop.id), class: "text-info" %><br>
    </div>
   <% end %>
  </div>

</div>