<p class ="text-center mt-4">退会手続きを行いますか？</p>
<p class ="text-center"><%= link_to "退会しない", users_mypage_path, class: "btn btn-sm btn-primary" %> <%= link_to "退会する", users_withdraw_path, method: :patch, data: { confilm: "本当に退会しますか？" }, class: "btn btn-sm btn-danger" %></p>