<h3>お問い合わせ</h3

<%= form_with model: @contact, url: root_path do |f| %>

<div class="form-group">
<div>送信アドレス</div>
 <%= f.text_field :email, class: 'form-control' %>
</div>

<div class="form-group">
<div>お問い合わせ内容</div>
 <%= f.text_area :message, class: 'form-control' %>
</div>

<%= f.submit '送信' %>
<% end %>