<div class="container">
 <div class="row justify-content-md-center mt-4 mb-4">
  <div class="col-lg-2">
   <button type="button" class="btn btn-info mt-4">
    <%= @tag.name %>
   </button>
  </div>
 </div>
 <div class="row mb-4">
  <% @tag.shops.each do |shop| %>
   <div class="col-lg-4 mt-4 mb-4">
    <%= attachment_image_tag shop, :image, format: "jpeg", size: "300x200" %><br>
    <%= link_to shop.name, shop_path(shop), class: "text-info" %><br>
   </div>
  <% end %>
 </div>
</div>